.custom-background {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(rgb(0, 0, 0), #fafafa 420%);
}

.login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.login-card {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-height: 80%; /* Limita a altura máxima */
  width: 90%; /* Ajusta a largura para telas pequenas */
  max-width: 400px; /* Largura máxima para telas maiores */
  border: 1px solid #808080d8;
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura total */
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #D9D9D9;
  padding: 8px;
  margin-bottom: 35px;
  width: 100%;
  box-sizing: border-box;
}

.login-form button {
  background-color: #D3D3D3;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
  height: auto; 
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .login-card {
    padding: 20px; /* Reduz o padding em telas menores */
    width: 90%; /* Mantém a largura em 90% */
  }
}

@media (max-width: 480px) {
  .login-card {
    padding: 15px; /* Ajusta ainda mais para telas muito pequenas */
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    margin-bottom: 20px; /* Reduz a margem inferior */
  }

  .login-form button {
    padding: 10px; /* Ajusta o padding do botão */
  }
}
